@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.search-result-card {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid $gulf-blue;
  border-radius: 9px;
  background-color: $white;
  color: $gulf-blue;
  margin: space(10);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s linear;
  will-change: border-color box-shadow;

  &:hover {
    border-color: $nhs-blue;
    box-shadow: 0 0 4px 0 rgba($nhs-blue, 0.5);

    .search-result-card__footer {
      background-color: $nhs-blue;

      a svg {
        transform: translateX(4px);
      }
    }
  }

  &.is-active {
    border: 6px solid $puerto-rico;
  }

  @include for-tablet-landscape-up {
    width: calc(33% - 20px);
    margin-bottom: space(16);
  }

  @include for-phone-only {
    width: 100%;
  }
}

.search-result-card--full-width {
  width: 100%;
  margin: 0;
}

.search-result-card__title {
  flex: 1;
  margin-right: space(12);
}

.search-result-card__meta {
  width: 100%;
}

.search-result-card__organisation {
  @include heading-s-light;
  font-weight: normal;
  color: $waikawa;
}

.search-result-card__logo {
  width: pxtorem(50px);
  height: pxtorem(50px);
  border-radius: 9px;
  border: 1px solid $gulf-blue;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    border-radius: 9px;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.search-result-card__content {
  display: flex;
  flex-wrap: wrap;
  padding: space(16);
}

.search-result-card__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: space(16);
}

.search-result-card__tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: space(8);
}

.search-result-card__tag {
  @include body-xs;
  padding: space(8);
  color: $white;
  display: inline-block;
  border-radius: 4px;
  margin: 0 space(8) space(8) 0;

  &--icon {
    margin-right: space(8);
  }
}

.search-result-card__tag--cost {
  background-color: $elm;
}

.search-result-card__tag--recommended {
  background-color: $nhs-blue;
}

.search-result-card__tag--type {
  background-color: $cranberry;
}

.search-result-card__location {
  color: $gulf-blue;
  display: flex;
  align-items: center;

  h4 {
    margin-left: space(8);
    font-size: $font-base;
  }
}

.search-result-card__location-list {
  margin-left: space(8);

  button {
    cursor: pointer;
    @include link-medium;
    border: none;
    background: none;
  }

  h4 {
    display: inline;
    margin-left: 0;
    font-size: $font-base;
  }
}

.search-result-card__intro {
  color: $lynch;
}

.search-result-card__footer {
  flex: 1 1 100%;
  align-self: flex-end;
  background-color: $gulf-blue;
  padding: space(12) space(16);
  color: $white;
  text-align: center;
  transition: background-color 0.1s linear;
  will-change: background-color;

  a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: $font-body-m;
    font-weight: 700;
    text-decoration: none;

    svg {
      margin-top: 1px;
      margin-left: space(8);
      font-size: $font-body-s;
      transition: transform 0.1s linear;
      will-change: transform;
    }
  }
}
