@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/grid.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.public-beta-banner {
  padding: space(12) 0;
  background-color: $mercury;

  .flex-col {
    width: auto !important;
    margin-bottom: 0;
  }

  &-tag {
    display: block;
    margin-right: space(16);
    padding: space(8);
    font-weight: 700;
    background-color: $nhs-blue;
    color: $white;
  }

  &-information {
    font-size: $font-body-s;

    button {
      padding: 0;
      font-size: $font-body-s;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}