@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

@mixin disabled-btn {
  &:disabled {
    color: $mercury;
    background-color: inherit;
    border: 2px solid $mercury;
    opacity: 0.75;
  }
}

@mixin disabled-btn-hover {
  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
    border: 2px solid $mercury;
  }
}

.button {
  background-color: $gulf-blue;
  color: $white;
  font-size: pxtorem(22px);
  font-weight: 500;
  line-height: 1.15;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    cursor: pointer;
  }

  &:active {
    border: 2px solid $puerto-rico;
  }

  &:focus {
    border: 2px solid $puerto-rico;
    outline: 0;
    text-decoration: none;
  }

  &:disabled {
    background-color: $mercury;
    opacity: 0.75;
  }

  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;

    @include for-tablet-portrait-down {
      padding: 0.5rem 1rem;
    }

    svg {
      margin-left: space(8);

      @include for-tablet-portrait-down {
        margin-left: space(16);
      }
    }
  }
}

.button--green {
  background-color: $elm !important;
  color: $white !important;
  border: 2px solid $elm !important;

  &:focus,
  &:hover {
    border: 2px solid $puerto-rico !important;
    outline: 0;
    text-decoration: none;
  }
}

.button--light {
  background-color: $white;
  color: $gulf-blue;
  border: 2px solid $gulf-blue;
}

.button--disabled {
  background-color: $mercury;
  opacity: 0.75;

  &:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button--small {
  height: pxtorem(50px);
  padding: 0px space(16);

  @include for-phone-only {
    font-family: $font-primary;
    font-weight: normal;
  }
}

.button--medium {
  height: pxtorem(65px);
  padding: 0px space(24);
}

.button--large {
  height: pxtorem(80px);
  padding: 0px space(40);

  @include for-phone-only {
    height: pxtorem(70px);
    padding: 0px space(16);
  }
}

.button__icon {
  max-width: 32px;
}

.button__icon--small {
  margin-left: space(16);

  @include for-phone-only {
    margin-left: space(8);
  }
}

.button__icon--medium {
  margin-left: space(24);
}

.button__icon--large {
  margin-left: space(16);
}

.button__alt {
  font-size: inherit;
  border-radius: 40px;
  background-color: $white;
  color: inherit;
  border: 2px solid $gulf-blue;

  &:hover {
    box-shadow: none;
    cursor: pointer;
    border: 3px solid $gulf-blue;
  }

  &:disabled {
    @include disabled-btn;
  }

  &:disabled:hover {
    @include disabled-btn-hover;
  }
}

.button__alt--disabled {
  @include disabled-btn;

  @include disabled-btn-hover;
}

.button__alt--medium {
  height: pxtorem(50px);

  svg {
    margin-left: space(16);
  }
}

.button__alt--small {
  height: pxtorem(35px);
  font-size: $font-body-m;
  padding: 0 space(16);
  line-height: 1.16;

  svg {
    margin-left: space(16);
  }
}

.button__category {
  font-size: $font-body-m;
  font-weight: 500;
  height: pxtorem(50px);
  padding: space(14) space(18);
  margin-right: space(16);
  margin-bottom: space(16);
  border: none;
  border-radius: 10px;
  background-color: $porcelain;

  svg {
    height: 0.875em;
    margin-left: space(12);
  }

  &:hover {
    background-color: $puerto-rico;
    color: $white;
    border: none;
  }
}

.button__header,
.goog-te-gadget-simple {
  min-width: pxtorem(220px);
  height: 55px;
  padding: space(12) space(16);
  margin: 0 space(8);
  border-radius: 40px;
  border: 2px solid $gulf-blue;
  background-color: $white;
  color: $gulf-blue !important;
  font-size: $font-body-m;
  font-weight: 500;
  line-height: 1.5625rem;
  text-align: center;
  background-color: transparent;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $gulf-blue;
    color: $white;
  }

  &:disabled {
    color: $white;
    @include disabled-btn;
  }

  &:disabled:hover {
    @include disabled-btn-hover;
  }

  .button__icon {
    margin-left: space(12);
  }
}

.buton__burger-menu {
  background-color: transparent;
  color: $waikawa;
  font-size: $font-body-s;
  font-family: $font-primary;
  display: block;
  padding: 0;
  height: auto;
  margin-bottom: space(24);
  font-weight: normal;

  &:focus {
    border: inherit;
  }

  &:hover {
    box-shadow: none;
  }
}
