@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.favourites__header {
  position: relative;
  padding: space(40) 0;
  background: rgb(0,94,184);
  background: linear-gradient(90deg, rgba(0,94,184,1) 0%, rgba(109,205,211,1) 45%, rgba(213,246,157,1) 100%);

  .flex-container {
    max-width: 1260px;
  }

  &__inner {
    max-width: 1260px;
    padding: space(48) space(72);
    margin-bottom: -52px;
    position: relative;
    border-radius: 13px;
    background-color: $white;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.1);
  }

  &--heading {
    margin-bottom: space(20) !important;

    @include for-phone-only {
      h1 {
        font-size: $font-body-l;
      }
    }
  }

  &--share {
    display: flex;
    align-items: center;
    margin-bottom: space(16);

    svg {
      margin-left: space(12);
    }
  }

  &--print {
    @include for-tablet-portrait-down {
      text-align: center;
      margin: space(16) 0;
    }

    button {
      color: $gulf-blue;
      font-weight: normal !important;
    }
  }
}

.favourites__logo {
  width: pxtorem(65px) !important;
  height: pxtorem(65px);
  border: 1px solid $nobel;
  border-radius: 9px;
  background-color: $white;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    border-radius: 9px;
    width: 100%;
  }
}

.favourites__content {
  &__inner {
    max-width: 1260px;
    padding: space(120) space(72) space(96) !important;
  }
}
.favourites__card {
  color: $gulf-blue;
  border: 2px solid $gulf-blue;
  border-radius: 10px;
  margin-bottom: space(32);

  &--no-padding {
    padding: 0 !important;
  }

  &--outer {
    width: calc(33% - 16px);
  }

  &--inner {
    padding: space(24) !important;
  }

  &--organisation {
    color: $waikawa;
  }

  &--location {
    @include heading-s;
    color: $elm;
    margin: space(12) 0;
  }

  &--intro {
    color: $mid-grey;
  }

  &--button-row {
    border-top: 2px solid $gulf-blue;
  }

  &--button {
    text-align: center;
    border-bottom-left-radius: 8px;

    padding: space(16);
    box-sizing: border-box;

    svg {
      margin-left: space(8);
      vertical-align: middle;
    }

    &:first-of-type {
      border-right: 2px solid $gulf-blue;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    }

    &:focus {
      border: 2px solid $puerto-rico;
    }

    &--more {
      background-color: $gulf-blue;
      color: $white;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 8px;
    }

    @include for-phone-only {
      p {
        font-size: pxtorem(18px);
        vertical-align: middle;
      }
    }
  }

  &--contact {
    border-left: 3px solid $waikawa;
    padding-left: space(12) !important;
    margin: space(8) 0 !important;

    svg {
      color: $waikawa;
    }

    &--heading {
      @include heading-s;
      margin: space(8) 0;
    }

    .flex-col {
      margin-bottom: space(8) !important;

      .body--s {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.favourites__count {
  font-weight: 500;
  margin-bottom: space(64);
}

.favourites__add-more {
  margin-top: space(64);

  @include for-phone-only {
    button {
      font-size: pxtorem(18px);
    }
  }
}

.favourites__no-favourites {
  color: $gulf-blue;
  padding: space(64) !important;

  @include for-tablet-portrait-down {
    padding: space(24) !important;

    h3 {
      font-size: $font-heading-s;
    }
  }
}
