@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.breadcrumb {
  margin-bottom: space(16) !important;

  &--active {
    color: $mid-grey !important;
  }

  ul > li:first-child {
    margin-left: 0 !important;
  }

  ul {
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    li {
      display: inline;
      margin-left: space(8);
      font-weight: 500;
      font-size: pxtorem(16px);
      color: $gulf-blue;

      @include for-phone-only {
        font-size: pxtorem(12px) !important;
        margin-left: space(8) !important;
      }
    }

    a {
      font-size: pxtorem(16px);
      text-decoration: none;
    }

    svg {
      margin-left: space(8);
      font-size: pxtorem(12px);
      color: $gulf-blue;

      @include for-phone-only {
        margin-left: space(8);
        font-size: pxtorem(12px);
      }
    }
  }
}
