@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

select,
.select {
  @include body-m;
  width: 100%;
  max-width: 320px;
  border: 2px solid $gulf-blue;
  box-shadow: none;
  background-image: url('../../assets/images/icons/icon-cheveron-selection.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  background-size: pxtorem(16px);
  background-color: $white;
  color: $gulf-blue;
  appearance: none;
  padding: space(12);
  padding-right: space(40);
  position: relative;

  &::placeholder {
    color: $mercury;
  }
}
