@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/grid.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.search__input {
  margin-bottom: space(40);

  &__item {
    position: relative;
    padding: 0 space(24);
    margin: space(10) 0;

    @include for-phone-only {
      padding: space(12) 0 space(24);
      margin: 0 space(20);
    }

    &:first-child {
      border-right: 2px solid $gulf-blue;

      @include for-phone-only {
        border-right: none;
        border-bottom: 2px solid $gulf-blue;
      }
    }
  }

  label {
    display: block;
    margin-bottom: space(8);
    font-family: $font-primary;
    font-weight: 700;
    font-size: $font-heading-m;
  }

  input {
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
  }

  .search__submit {
    .button {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: pxtorem(36px);
      font-weight: 700;
      line-height: 1.5625rem;
      border-top-left-radius: 0;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 0;

      @include for-phone-only {
        width: 100%;
        height: 4.0625rem;
        justify-content: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
      }
    }
  }
}

.search__wrapper {
  flex-wrap: nowrap !important;
  border: 2px solid $gulf-blue;
  border-radius: 10px;
  background-color: $white;

  @include for-phone-only {
    flex-wrap: wrap !important;
  }
}

.search__location__link {
  position: absolute;
  bottom: -52px;
  left: 20px;

  @include for-phone-only {
    position: relative;
    bottom: auto;
    left: -4px;
    margin-top: space(20);
  }

  .link__icon--left {
    margin-right: space(8);
  }
}