@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.cms {
  color: $gulf-blue;
  font-family: $font-primary;

  &--contact-card {
    padding: space(12) space(24);
    background-color: $alabaster;
    border-radius: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: space(16);

    @include for-tablet-portrait-down {
      margin-left: 0;
    }

    &--row {
      margin-top: space(24);
    }

    &--socials {
      text-align: center;
    }

    h3 {
      padding: space(8) 0;
    }

    h4 {
      margin-bottom: space(8);
    }

    &--email {
      display: block;
    }

    a {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.cms__header {
  position: relative;
  padding: space(40) 0;
  background: rgb(0,94,184);
  background: linear-gradient(90deg, rgba(0,94,184,1) 0%, rgba(109,205,211,1) 45%, rgba(213,246,157,1) 100%);

  .flex-container {
    max-width: 1260px;
  }

  &__inner {
    max-width: 1260px;
    padding: space(48) space(72);
    margin-bottom: -52px;
    position: relative;
    border-radius: 13px;
    background-color: $white;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.1);
  }
}

.cms__title-card {
  &--title {
    font-size: pxtorem(48px);

    @include for-tablet-landscape-down {
      margin-bottom: space(16);
    }

    @include for-phone-only {
      font-size: $font-heading-mobile-l;
    }
  }
}

.cms__content {
  display: block;
  max-width: 1260px;
  margin: 0 auto;
  padding: space(120) space(72) space(96) space(72);

  h1 {
    @include heading-xl;
  }

  p {
    @include body-m;
    word-break: break-word;
    margin-bottom: space(16);
    line-height: 1.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $elm;
  }

  li p {
    display: inline;
  }

  h1,
  h2 {
    margin-bottom: space(32);
  }

  ul {
    margin-left: space(24);
    margin-bottom: space(24);
  }
}
