@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.footer {
  position: relative;
  color: $white;
  background-color: $gulf-blue;
  padding: space(64) 0;

  @include for-phone-only {
    padding: space(32) 0;
  }

  @media (max-width: 980px) {
    margin-bottom: space(48);
  }

  &--service {
    margin-top: 0;
  }

  &__disclaimer {
    padding-right: space(56);

    @include for-tablet-portrait-down {
      padding-right: 0;
      padding-bottom: space(56);
    }

    @include for-phone-only {
      padding-bottom: 0;
    }
  }
}

.footer__content {
  margin: space(16) 0;

  a {
    @include body-xs;
  }

  p {
    @include body-xs;
    line-height: 1.25rem;
  }
}

.footer__social-icons {
  margin-right: space(10);
}

.footer__social-links {
  margin: space(24) 0;
}

.footer-contact-links {
  line-height: 26px;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.footer__button {
  position: relative;

  button {
    color: $white;
    border: 2px solid $white;
    background: $gulf-blue;
    font-family: $font-primary;
    font-weight: normal;
    font-size: pxtorem(18px);

    &:hover {
      background: $white;
      color: $gulf-blue;
    }
  }

  @include for-phone-only {
    margin-top: space(32);
  }
}

.header__footer {
  width: 100%
}

.footer-mobile-menu {
  text-align: left;
}
