@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.home {
  &-wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 space(24);

    @include for-tablet-landscape-up {
      padding: 0 space(72);
    }

    p {
      margin-bottom: space(24);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-title {
    @include heading-l;
    font-weight: 600;
    margin-bottom: space(20);
  }
}

.home-collections {
  padding: space(120) 0 space(80) 0;

  @include for-phone-only {
    padding: space(64) 0 space(40) 0;
  }
}

.home-about {
  background-color: $white;
  padding: space(80) 0;

  @include for-phone-only {
    padding: space(40) 0;
  }
}